version: 2.0

# executors:
#   builder:
#     docker:
#       - image: openjdk:8-jdk-alpine

jobs:
  compile:
    docker:
      - image: openjdk:8-jdk-alpine
    # environment:
    #   TEST_REPORTS: /tmp/test-reports
    working_directory: ~/workspace
    steps:
      - checkout
      - run:
          command: |
            ./mvnw compile
      - persist_to_workspace:
          root: .
          paths:
            - .

  test:
    docker:
      - image: openjdk:8-jdk-alpine
    working_directory: ~/workspace
    steps:
      - attach_workspace:
          at: .
      - run:
          command: |
            ./mvnw test

  package:
    docker:
      - image: openjdk:8-jdk-alpine
    working_directory: ~/workspace
    steps:
      - run:
          command: |
            ./mvnw package -Dmaven.test.skip=true


  deploy-release-repo:
    docker:
      - image: openjdk:8-jdk-alpine
    working_directory: ~/workspace
    steps:
      - run:
          command: |
            ./mvnw install -Dmaven.test.skip=true


  # deploy-snapshot-repo:
  #   docker:
  #     - image: openjdk:8-jdk-alpine


workflows:
  version: 2

  build-test-and-deploy:
    jobs:
      - compile
      - test:
          requires:
            - compile
      - package:
          requires:
            - test
      - deploy-release-repo:
          requires:
            - package
      # - deploy-snapshot-repo:
      #   requires:
      #     - package