version: 2.1

executors:
  builder:
    docker:
      - image: openjdk:8-jdk-slim
    working_directory: ~/workspace

jobs:
  package:
    executor: builder
    steps:
      - checkout
      - restore_cache:
          key: m2-cache-{{ checksum "pom.xml" }}
      - run:
          command: |
            ./mvnw package
      - persist_to_workspace:
          root: .
          paths:
            - .
  release-prepare:
    executor: builder
    steps:
      - attach_workspace:
          at: .
      - run:
          command: |
            apt update
            apt -y --no-install-recommends install git
      - run:
          command: |
            ./mvnw --batch-mode release:prepare
      - persist_to_workspace:
          root: .
          paths:
            - .
  release-perform:
    executor: builder
    steps:
      - attach_workspace:
          at: .
      - run:
          command: |
            ./mvnw release:perform -DdryRun
      - persist_to_workspace:
          root: .
          paths:
            - .
      - save_cache:
          paths:
            - ~/.m2
          key: m2-cache-{{ checksum "pom.xml" }}

workflows:
  version: 2.1

  build-test-and-deploy:
    jobs:
      - package
      - hold:
          type: approval
          requires:
            - package
      - release-prepare:
          requires:
            - hold
      - release-perform:
          requires:
            - release-prepare