version: 2.1

executors:
  builder:
    docker:
      - image: openjdk:8-jdk-alpine
    working_directory: ~/workspace

jobs:
  package:
    executor: builder
    steps:
      - checkout
      - restore_cache:
          key: m2-cache-{{ checksum "pom.xml" }}
      - run:
          command: |
            ./mvnw compile


  install-local-repo:
    executor: builder
    steps:
      - run:
          command: |
            ./mvnw install -Dmaven.test.skip=true
      - save_cache:
          paths:
            - ~/.m2
          key: m2-cache-{{ checksum "pom.xml" }}


  # deploy-snapshot-repo:
  #   docker:
  #     - image: openjdk:8-jdk-alpine


workflows:
  version: 2.1

  build-test-and-deploy:
    jobs:
      - package
      - install-local-repo:
          requires:
            - package
      # - deploy-snapshot-repo:
      #   requires:
      #     - package