version: 2
jobs:
  build:
    docker:
      - image: openjdk:8-jdk-slim
    steps:
      - run:
          name: Install AWS CLI
          command: |
            apt-get update
            apt-get -y --no-install-recommends install groff awscli git
      - run:
          name: Show Command version
          command: |
            aws --version
            java -version
            git --version