version: 2.0

# executors:
#   builder:
#     docker:
#       - image: openjdk:8-jdk-alpine

jobs:
  package:
    docker:
      - image: openjdk:8-jdk-alpine
    # environment:
    #   TEST_REPORTS: /tmp/test-reports
    working_directory: ~/workspace
    steps:
      - checkout
      - restore_cache:
          keys: m2-cache-{{ checksum "pom.xml" }}
      - run:
          command: |
            ./mvnw compile
      - persist_to_workspace:
          root: .
          paths:
            - .
      - save_cache:
          paths:
            - ~/.m2
          key: m2-cache-{{ checksum "pom.xml" }}


  install-local-repo:
    docker:
      - image: openjdk:8-jdk-alpine
    working_directory: ~/workspace
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys: m2-cache-{{ checksum "pom.xml" }}
      - run:
          command: |
            ./mvnw install -Dmaven.test.skip=true
      - save_cache:
          paths:
            - ~/.m2
          key: m2-cache-{{ checksum "pom.xml" }}


  # deploy-snapshot-repo:
  #   docker:
  #     - image: openjdk:8-jdk-alpine


workflows:
  version: 2

  build-test-and-deploy:
    jobs:
      - package
      - install-local-repo:
          requires:
            - package
      # - deploy-snapshot-repo:
      #   requires:
      #     - package