version: 2.1

executors:
  builder:
    docker:
      - image: openjdk:8-jdk-slim
    working_directory: ~/workspace

jobs:
  package:
    executor: builder
    steps:
      - run:
          command: |
            apt update
            apt -y --no-install-recommends install git
      - checkout
      - restore_cache:
          key: m2-cache-{{ checksum "pom.xml" }}
      - run:
          command: |
            ./mvnw package
      - persist_to_workspace:
          root: .
          paths:
            - .
  release-perform:
    executor: builder
    steps:
      - attach_workspace:
          at: .
      - run:
          command: |
            apt update
            apt -y --no-install-recommends install git
      - run:
          command: |
            ./mvnw release:perform -DconnectionUrl=scm:git:git@github.com:fuji44/playground-circleci.git#${CIRCLE_TAG}
      - persist_to_workspace:
          root: .
          paths:
            - .
      - save_cache:
          paths:
            - ~/.m2
          key: m2-cache-{{ checksum "pom.xml" }}

workflows:
  version: 2.1

  build-test-and-deploy:
    jobs:
      - package:
          # filters: # 全てのブランチPushとタグPushが対象
          #   tags:
          #     only: /.*/
      - release-perform:
          requires:
            - package
          filters: # vで始まるタグPushのみ対象
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/