version: 2.1

executors:
  builder:
    docker:
      - image: openjdk:8-jdk-slim
    working_directory: ~/workspace

jobs:
  package:
    executor: builder
    steps:
      - run:
          command: |
            apt update
            apt -y --no-install-recommends install git ssh
      - checkout
      - restore_cache:
          key: m2-cache-{{ checksum "pom.xml" }}
      - run:
          command: |
            ./mvnw package
      - persist_to_workspace:
          root: .
          paths:
            - .
  release-perform:
    executor: builder
    steps:
      - attach_workspace:
          at: .
      - run:
          command: |
            apt update
            apt -y --no-install-recommends install git ssh
      - run:
          command: |
            mkdir -m 700 ~/.ssh
            ssh-keyscan -H github.com >> ~/.ssh/known_hosts
            chmod 600 ~/.ssh/known_hosts
      - run:
          command: |
            echo "scm.url=scm\:git\:git@github.com\:fuji44/playground-circleci.git" >> release.properties
            echo "scm.tag=${CIRCLE_TAG}" >> release.properties
            ./mvnw release:perform
      - persist_to_workspace:
          root: .
          paths:
            - .
      - save_cache:
          paths:
            - ~/.m2
          key: m2-cache-{{ checksum "pom.xml" }}

workflows:
  version: 2.1

  build-test-and-deploy:
    jobs:
      - package:
          filters: # 全てのブランチPushとタグPushが対象
            tags:
              only: /.*/
      - release-perform:
          requires:
            - package
          filters: # vで始まるタグPushのみ対象
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/